<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                log
            </div>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="#" class="header-nav__link">
                            link-1
                        </a>
                    </li>
                    <li>
                        <a href="#" class="header-nav__link">
                            link-2
                        </a>
                    </li>
                    <li>
                        <a href="#" class="header-nav__link">
                            link-3
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
