.btn {
  width: 100%;
  background-color: var(--bgc-three);
  color: var(--default-c);
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-default {
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  color: var(--bgc-two);
  transition: color .2s cubic-bezier(.4,.0,.23,1);
  &:hover {
    color: var(--bgc-one);
  }
}

.btn-ico {
  color: var(--neutral-regular);
  font-size: 18px;
  transition: all .2s cubic-bezier(.4,.0,.23,1);
  &:hover:not(.active) {
    color: var(--neutral-primary);
    transform: scale(.9);
  }
  &.active {
    color: var(--some-two);
    transform: scale(.9);
  }
}

.btn-circle {
  position: fixed;
  bottom: 25px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bgc-three);
  font-size: 18px;
  color: var(--default-c);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  box-shadow:
    0 0.2px 3.7px rgba(0, 0, 0, 0.139),
    0 1.3px 10.1px rgba(0, 0, 0, 0.2),
    0 3.8px 24.4px rgba(0, 0, 0, 0.261),
    0 11px 81px rgba(0, 0, 0, 0.4)
  ;
}
