.todos {
  min-height: 100vh;
  padding: 60px 0px;
  background-color: var(--lighter);
  &__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    width: 100%;
  }
}
