<router-outlet>
  <app-header></app-header>
  <section class="todos">
    <div class="wrapper">
      <div class="todos__container">
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
        <app-todo-item></app-todo-item>
      </div>
    </div>
  </section>
</router-outlet>
