<div class="todos__item">
  <div class="todos__item-header">
    <button class="btn-default" title="Mark as done">
      <i class="fas fa-check-circle"></i>
    </button>
    <!-- <button class="btn-default">
      <i class="fas fa-times-circle"></i>
    </button> -->
  </div>
  <div class="todos__item-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque at voluptate adipisci ducimus,
      vero expedita culpa qui amet dicta pariatur beatae reiciendis unde voluptatum. Voluptatem nulla nisi id
      consequuntur.
    </p>
  </div>
  <div class="todos__item-footer">
    <button class="btn" title="Remove task">Remove</button>
  </div>
</div>
<!-- close .todos__item -->
