/* You can add global styles to this file, and also import other style files */
@use "assets/scss/reset.scss";
@use "assets/scss/vars.scss";
@use "assets/scss//buttons.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}

.input-field {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  color: var(--default-c);
  border: 1px solid var(--neutral-primary);
}
